---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600|Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/resumecards.css" | prepend:site.baseurl }}">
    <title>{{ site.data.resume.name }}'s CV</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container resume-content">
      <div class="row">
        <div class="col-sm-8 clearfix">
          <figure class="resume-pic">
            <img src="{{ site.data.resume.photo }}" class="img-rounded" width="120" height="120">
          </figure>
          <div class="resume-baseinfo">
            <h1>{{ site.data.resume.name }}</h1>
            <p>{{ site.data.resume.copy }}</p>
          </div>
        </div>
        <div class="col-sm-4 resume-contact">
          {% include nav.html %}
        </div>
      </div>
      <div class="row">
        {% for card in site.posts reversed %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ card.type }}</h3>
              </div>
              <div class="panel-body">
                {% if card.heading %}
                  <h4>
                    {{ card.heading }}
                  </h4>
                {% endif %}
                {% if card.subheading %}
                  <p class="resume-subheading">
                    {{ card.subheading }}
                  </p>
                {% endif %}
                {% if card.duration %}
                  <p class="resume-duration">
                    {{ card.duration }}
                  </p>
                {% endif %}
                {% if card.location %}
                  <p class="resume-location">
                    {{ card.location }}
                  </p>
                {% endif %}
                {{ card.content }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <nav class="navbar navbar-default hidden-print hidden-xs" role="navigation">
        <div class="resume-nav">
          <span>Built with <a href="https://github.com/ellekasai/resumecards" target="_blank">ResumeCards</a><span class="hidden-sm">, a Markdown based resume generator</span></span>.
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <script src="{{ "/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/resumecards.js" | prepend:site.baseurl }}"></script>
    {% include scripts.html %}
  </body>
</html>
