<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/richard_p2/" target="_blank">@richard_p2</a></p>
<p><i class="fa fa-facebook fa-lg fa-fw"></i> <a href="https://www.facebook.com/richardpperry" target="_blank">/richardpperry</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://uk.linkedin.com/in/rpperry" target="_blank">uk.linkedin.com/in/rpperry</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://richard.perry-online.me.uk/" target="_blank">richard.perry-online.me.uk/</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:richard@perrymail.me.uk" target="_blank">richard@perrymail.me.uk</a></p>